@charset "UTF-8";
/* jost-regular - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/jost-v14-latin-regular.woff2") format("woff2"), url("../fonts/jost-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-700 - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/jost-v14-latin-700.woff2") format("woff2"), url("../fonts/jost-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: "Jost", serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  background: #f2f2f2;
}

.container {
  max-width: 1170px;
  padding: 95px 40px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 60px 40px;
  }
}
@media only screen and (max-width: 970px) {
  .container {
    padding: 56px 40px;
  }
}
@media only screen and (max-width: 748px) {
  .container {
    padding: 32px 24px;
  }
}
.btn {
  padding: 12px 24px;
  max-width: 158px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #F2F4FF;
  background: #AD1FEA;
}
.btn:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 430px) {
  .btn {
    font-size: 13px;
    line-height: 19px;
  }
}
.container--form {
  max-width: 540px;
  margin: 0 auto;
}

.form__go-back {
  margin-left: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #647196;
  margin-bottom: 68px;
  display: flex;
  align-items: center;
}
.form__go-back::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 5px;
  margin-right: 16px;
  background: url(../img/icons/arrow-left.svg) center/auto no-repeat;
}

.form {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 52px 42px 40px;
  position: relative;
}
.form::before {
  content: "+";
  display: inline-block;
  width: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 62px;
  height: 56px;
  margin-right: 16px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
}

.form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #3A4374;
  margin-bottom: 40px;
}

.form__name {
  color: #3A4374;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.194444px;
  margin-bottom: 2px;
}

.form__info {
  color: #647196;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.form__input::-moz-placeholder {
  color: #3A4374;
}

.form__input:-ms-input-placeholder {
  color: #3A4374;
}

.form__input::placeholder {
  color: #3A4374;
}

.error {
  display: none;
}

.form-element {
  color: #3A4374;
  background: #F7F8FD;
  border-radius: 5px;
  width: 100%;
  padding: 13px 24px;
  margin-bottom: 24px;
  position: relative;
}
.form-element:invalid {
  border: 1px solid #F49F85;
}
.form-element:focus {
  border: 1px solid #4661E6;
}

.form__textarea {
  margin-bottom: 40px;
  max-width: 456px;
  min-height: 96px;
  resize: none;
}

.form__buttons {
  text-align: right;
}

.form__buton-cance {
  padding: 12px 24px;
  max-width: 158px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #F2F4FF;
  background: #4661E6;
  margin-right: 16px;
}
.form__buton-cance:hover {
  opacity: 0.7;
}

.form__buton-add {
  padding: 12px 24px;
  max-width: 158px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #F2F4FF;
  background: #AD1FEA;
}
.form__buton-add:hover {
  opacity: 0.7;
}

.form__sort {
  position: relative;
  cursor: pointer;
}

.form__drop-down-hover {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #3A4374;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in-out;
  justify-content: space-between;
}
.form__drop-down-hover::after {
  content: "";
  margin-left: 8px;
  height: 5px;
  width: 10px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/icons/arrow.svg) center/100% no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.form__drop-down-hover span {
  font-weight: 400;
  margin-right: 3px;
}

.form__drop-down-hover:hover + .form__drop-down,
.form__drop-down:hover {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  visibility: visible;
}

.form__sort:hover .form__drop-down-hover::after {
  transform: rotate(0deg);
}

.form__drop-down {
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
  left: 0;
  top: 98%;
  padding-top: 16px;
  transform: translate(-30%, -50%) scale(0);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.form__select {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 10px;
  overflow: hidden;
}

.form__option {
  background: #FFFFFF;
  display: block;
  padding: 12px 24px;
  color: #647196;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__option:first-child:after {
  content: "";
  margin-left: 8px;
  height: 8px;
  width: 12px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/icons/galochka.svg) center/100% no-repeat;
}
.form__option + .form__option {
  border-top: 1px solid rgba(58, 67, 115, 0.15);
}
.form__option:hover {
  color: #AD1FEA;
}
.form__option:active {
  background: #F7F8FD;
}

@media only screen and (max-width: 480px) {
  .container--form {
    padding-top: 10px;
  }
  .form__go-back {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 55px;
  }
  .form {
    padding: 44px 24px 24px;
  }
  .form::before {
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 0px;
  }
  .form__title {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 26px;
  }
  .form__name {
    font-size: 13px;
    line-height: 19px;
  }
  .form-element {
    font-size: 13px;
    line-height: 19px;
  }
  .form__buton-add {
    max-width: 100%;
    width: 100%;
  }
  .form__textarea {
    min-height: 120px;
  }
  .form__buton-cance {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    display: block;
  }
}