.container {
   max-width: 1170px;
   padding: 95px 40px;
   margin: 0 auto;
}

@media only screen and (max-width:1200px) {
   .container {
      padding: 60px 40px;
   }
}

@media only screen and (max-width:970px) {
   .container {
      padding: 56px 40px;
   }
}

@media only screen and (max-width:748px) {
   .container {
      padding: 32px 24px;
   }
}