html {
   width: 100%;
   min-height: 100vh;
}

body {
   min-height: 100%;
   width: 100%;
   font-family: "Jost", serif;
}
input,textarea{
   font-family: "Jost", serif;
}
.wrapper {
   width: 100%;
   min-height: 100%;
   background: #f2f2f2;
}