$violet: #AD1FEA;
$blue: #4661E6;
$thin_blue: #373F68;
$white: #FFFFFF;
$dark_white: #F2F4FF;
$thin_white: #F7F8FD;
$blue_black: #3A4374;
$grey: #647196;
$porsche: #F49F85;
$malibu: #62BCFA;
$hover-btn: #CFD7FF;